body {
    background: url(Supercar.jpg) no-repeat center fixed;
    background-size:cover;
}
table th, td {
    background: Transparent;
    display: table-cell;
    font-variant: small-caps;
    font-weight: 600;
    color: orange;
}